#content-container {

}
 .day-content {
	display: block;
} 

.uv-index {
	color: #FFF;
	padding: 0.3rem 0.6rem;
	border-radius: 1rem;
}

#current-weather {
	background-size:     cover;                      /* <------ */
	background-repeat:   no-repeat;
	background-position: center center;
	display: table;
}
@media screen and (min-width: 40em;) {
	#current-weather {
		position: fixed;
	}
}
#current-weather #current-weather-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 1rem;
}
#current-weather #current-weather-container {
	background-color: rgba(255,255,255,0.7);
	padding: 1rem;
	border-radius: 1rem;
}
@media screen and (min-width: 64em) {
	#current-weather #current-weather-container {
		min-width: 426px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}
#current-weather ul li {
	list-style-type: none;
}
#current-weather #current-temp {
	font-size: 5rem;
}
#current-weather #current-temp .celc-fahr {
	font-size: 2rem;
}
#current-weather #current-summary {
	font-size: 1.5rem;
}
#current-weather #impe-metr-switch {
	margin: 1.5rem;
	padding: 0.5rem 0.7rem;
	border-radius: 1rem;
}
#current-weather #current-info {
	line-height: 1.6;
}
#current-weather #current-info li {
	margin-bottom: 0.8rem;
}
#current-weather #current-info .celc-fahr {
	font-size: 0.7rem;
}
#hourly-summary,
#daily-summary {
	margin-bottom: 1rem;
}
.hour-title,
.day-title {
	font-weight: bolder;
	font-size: 1.5rem;
	color:black;
}
.hour-title:hover,
.hour-title:focus,
.day-title:hover,
.day-title:focus {
	color: black;
}
.hour-title:before,
.day-title:before {
	display: none;
}
.day-title .daily-icon {
	margin-right: 1rem;
}
.hour-title .text-center {
	font-weight: normal;
}
.hour-title .float-right .celc-fahr,
.day-title .float-right .celc-fahr {
	font-size: 0.8rem;
}
.hour-content ul li,
.day-content ul li {
	list-style-type: none;
}
.hour-content .celc-fahr,
.day-content .celc-fahr {
	font-size: 0.7rem;
}
